html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcfae3;
  font-family: "Open Sans";
}

a {
  color: inherit;
}

button {
  outline: none;
}

@font-face {
  font-family: "Digital";
  src: url("../fonts/digital-7.regular.ttf");
}

.container {
  position: fixed;
  bottom: 0;
}

.background {
  width: 100%;
  min-height: auto;
  bottom: 0vw;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.scrollable {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

window {
  position: absolute;
  height: 53.5%;
  width: 24%;
  top: 9.16%;
  left: 4.67%;
}

window img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

window .temperature {
  position: absolute;
  bottom: 17%;
  right: 7%;
  font-size: 2.5vw;
  color: white;
  z-index: 1000;
}

window .weather {
  position: absolute;
  bottom: 11%;
  right: 12%;
  font-size: 1.5vw;
  color: white;
  z-index: 1000;
}

clock {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15.6%;
  width: 15.9%;
  top: 73.6%;
  left: 6.6%;
}

clock .time {
  font-size: 6vw;
  font-family: "Digital";
  color: #90da2d;
}

calendar {
  position: absolute;
  height: 25%;
  width: 25.2%;
  top: 17.3%;
  left: 36.8%;
}

calendar .date {
  position: absolute;
  left: 5%;
  top: 3%;
  font-size: 2vw;
}

calendar .scrollable {
  font-size: 1.5vw;
  top: 23%;
  left: 5%;
  height: 75%;
  width: 95%;
}

calendar dl {
  margin-top: 2%;
}
calendar dt {
  font-weight: bold;
  color: #ff0000;
}

calendar dd {
  color: #333333;
  margin-bottom: 2%;
  margin-left: 1%;
}

laptop {
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  position: absolute;
  height: 31.4%;
  width: 30.4%;
  top: 52.8%;
  left: 34.6%;
}

laptop .scrollable {
  text-align: center;
  margin-top: 5%;
}

laptop img {
  padding: 2%;
  width: 18%;
}

board {
  position: absolute;
  height: 49.8%;
  width: 22.9%;
  top: 11%;
  left: 71.5%;
}

board button.clear {
  position: absolute;
  bottom: -12%;
  left: -4.5%;
  border: none;
  border-radius: 5px;
  background-color: #db2020;
  color: white;
  font-size: 1.25vw;
}

board ul {
  list-style-type: none;
  padding: 1%;
}

board ul .scrollable {
  height: 90%;
  width: 80%;
}

board li {
  position: relative;
  background-color: #fcee21;
  height: 29%;
  width: 36%;
  float: left;
  margin-left: 4%;
  margin-bottom: 4%;
  padding: 4%;
  font-family: "Coming Soon";
  font-size: 1.3vw;
  color: #333333;
  word-wrap: break-word;
}

board li button {
  display: none;
  position: absolute;
  top: -1%;
  right: -1%;
  border-radius: 50%;
  border: none;
  background-color: #db2020;
  color: white;
}

note {
  position: absolute;
  height: 13.4%;
  width: 7.7%;
  top: 61%;
  left: 86.6%;
}

note textarea {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  font-family: "Coming Soon";
  font-size: 1.1vw;
  resize: none;
}

note textarea:focus, note textarea:hover, note textarea:active {
  outline: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

note .button-div {
  position: absolute;
  right: 0;
  bottom: 0;
}

note button {
  border-radius: 50%;
  border: none;
  background-color: #66c45f;
  color: white;
}
